* {
	padding:0;
	margin:0;
	border:0;
}

body {
	width:100vw;
	height:100vh;
	font-family:sans-serif;
}

.wrapper {
	width:100%;
	height:100%;
	background-color:#191818;
	display:flex;
	justify-content:center;
	align-items:center;
}

ul {
	min-width:440px;
	min-height:420px;
	background-color:#363636;
	border-radius:12px;
	margin:15px 20px;
	padding: 10px 0;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

li {
	list-style: none;
	width:100%;
	height:40px;
	font-size:1.3rem;
	display:flex;
	align-items:center;
	justify-content:center;
	transition: all .05s;
}

li:hover {
	background-color:#404040;
}

.projs {
	color:aliceblue;
	text-decoration:none;
}